*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    background: #fbf3ff;
  } 
  /* .p{
    font-size: 20px;
    color: black;
  } */


  .navbar {
    justify-content: flex-end;
  }

/* .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .nav-item{
    margin-right: 100px;
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
  } */

  .text-center2{
    position: center;
    font-size: 50px;
  }
  .container {
    position: absolute;
    max-width: 800px;
    margin-bottom: 30px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .container2 {
    position: absolute;
    max-width: 1500px;
    height: 900px;
    margin: auto;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

  .container3{
    width: 100%;
    height: 30%;
    margin: auto;
    display: flex;
  }

  .myRightCtn {
    position: relative;
    background-image: linear-gradient(30deg, #482F72, #722F37);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myLeftCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  .myLeftCtn header {
    color: #a45252;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .row{
  height: 100%;
  } 
  .myCard {
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 
  .myRightCtn header {
    color: #000;
    font-size: 44px;
  }
  .box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
    font-size: 40px;
  } 
  .myLeftCtn .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  }
  .myLeftCtn .myInput:focus {
    outline: none;
  } 
  .myForm {
    position: relative;
    margin-top: 50px;
  } 
  .myLeftCtn .butt {
    background: linear-gradient(45deg, #482F72, #a45252);
    color: #000;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  } 
  .image{
    width: 200px;
    height: 20%;
  }
  .myLeftCtn .butt:hover {
    background: linear-gradient(45deg, #482F72, #a45252);
  }
  .myLeftCtn .butt:focus {
    outline: none;
  } 
  .myLeftCtn .fas {
    position: relative;
    color: #a45252;
    left: 36px;
  } 
  .butt_out {
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  } 
  .butt_out:hover {
    border: 2px solid#eecbff;
  } 
  .butt_out:focus {
    outline: none;
  }
  
  /* .container my-5{

  } */
  
  .button{
    background: linear-gradient(45deg, #482F72, #a45252);
    color: #000;
    width: 230px;
    border: none;
    /* display: flex; */
    margin-left: 40px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
  }

  .left_side{
        margin-left: 30px;
  }